body {
    font-size: 100%;
}

footer {
    position: fixed;
    bottom: 0;
}

fieldset {
    border: 1px solid black;
    width: 49vw;
    padding: 1rem;
    margin: auto;
    border-radius: 2rem;
    position: absolute;
    left: 1vw;
    top: 9vh;
}

legend {
    float: none;
    width: auto;
    padding: initial;
    margin-bottom: initial;
    font-size: 1.5vh;
    line-height: inherit;
    text-align: center;
}

input {
    margin-left: 1rem
}

label {
    display: block;
}

input[type="number"],
input[type="text"],
input[type="date"],
input[type="email"] {
    display: block;
}
input[type="radio"],
input[type="chekbox"]{
    margin-right: 0.25rem;
}

#output,
button {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

#output {
    border: 1px solid black;
    position: absolute;
    left: 51vw;
    top: 9vh;
    background-color: white;
    width: 48vw;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

nav a {
    display: inline-block;
    background-color: darkgreen;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: goldenrod;
    text-decoration: none;
}